<!DOCTYPE html>
{% extends 'university/base.html' %}
{% block content %}
<div>
  <div>
      <h1>Subject Enrolled List:</h1>
  </div>


  <ul>
      {% for enrolled in Enrolled.all %}
      <p>
          <div>
            {{ enrolled.subject_id }}
            {{ enrolled.subject_name }}
            {{ enrolled.section }}
              
              
          </div>
      </p>
      {% empty %}
      <center><h5>no subject enrolled</h5></center>
      {% endfor %}
  </ul>
</div>
  {% endblock %}
