<!DOCTYPE html>
{% extends 'university/base.html' %}
{% block content %}
<div class="jumbotron text-center">
  <h1>เว็ประบบลงทะเบียนเรียน</h1>
  <br>
  <img src="https://teen.mthai.com/app/uploads/2015/08/tu07-1024x532.jpg" class="img-fluid" alt="Responsive image">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>ประวัติมหาวิทยาลัยธรรมศาสตร์</h3>
      <p>มหาวิทยาลัยธรรมศาสตร์ก่อตั้งเมื่อวันที่ 27 มิถุนายน 2477 ชื่อมหาวิทยาลัยแรกเริ่ม </p>
      <p>คือ “มหาวิทยาลัยวิชาธรรมศาสตร์และการเมือง” (มธก.) จากแนวคิดของศาสตราจารย์ ดร.ปรีดี พนมยงค์</p>
    </div>
    <div class="col-sm-4">
      <h3>ปรัชญาของการตั้งมหาวิทยาลัย</h3>
      <p>“...มหาวิทยาลัยย่อมอุปมา ประดุจบ่อน้ำ บำบัดความกระหายของราษฎร ผู้สมัครแสวงหาความรู้ อันเป็นสิทธิและโอกาส
        ที่เขาควรมีควรได้ ตามหลักเสรีภาพของการศึกษา...”</p>

    </div>
    <div class="col-sm-4">
      <h3>สัญลักษณ์ประจำมหาวิทยาลัยสัญลักษณ์ประจำมหาวิทยาลัย</h3>
      <p>ตราธรรมจักร เป็นรูปธรรมจักรสีเหลืองทอง ตัดเส้นด้วยสีแดง ทั้งหมด ๑๒ แฉก
        โดยมีพานรัฐธรรมนูญสีแดงสลับเหลืองอยู่กึ่งกลาง </p>
      <p>ที่ขอบธรรมจักรมีอักษรสีแดงจารึก "มหาวิทยาลัยธรรมศาสตร์" หรือ "ม.ธ." อยู่ทางด้านบน กับ "THAMMASAT UNIVERSITY"
        หรือ "T.U." อยู่ทางด้านล่าง และระหว่างทั้งสองคำจะมีลายกนกสีแดงคั่นอยู่</p>
    </div>
  </div>
</div>
{% endblock content %}